.cuisine-filter {
  text-align: left;
}

.cuisine-filter ul {
  border-radius: 2px;
  overflow: hidden;
  width: 360px;
  margin: 60px auto 0;
  padding: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.cuisine-filter ul li {
  width: 360px;
  padding: 12px;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 1px rgba(0, 0, 0, 0.9);
}

.cuisine-filter ul li.active h4 {
  color: white;
}
.cuisine-filter ul li:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cuisine-filter ul li h4 {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  transition: all .5s;
}
.cuisine-filter ul li input {
  vertical-align: middle;
  display: none;
}
.cuisine-filter ul li input + label {
  display: inline-block;
  background: #ccc;
  width: 24px;
  height: 21px;
  border-radius: 100%;
  position: absolute;
  right: 40px;
  text-align: center;
  padding-top: 3px;
  color: transparent;
  cursor: pointer;
  transition: all .2s;
  box-shadow: inset 0 0 4px rgba(88, 88, 88, 0.5), inset 0 0 2px rgba(0, 0, 0, 0.3); 
}
.cuisine-filter ul li input + label:after {
  content: '';
  background: rgba(233, 73, 73, 0.5);
  width: 10px;
  height: 10px;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 9999px;
  transition: all 0.3s ease-in;
  z-index: -1;
}
.cuisine-filter ul li input:checked + label {
  background: white;
  color: #e94949;
}
.cuisine-filter ul li input:checked + label:after {
  width: 1000px;
  height: 1000px;
  top: -500px;
  right: -500px;
  background: #e94949;
}